<nav class="navbar navbar-dark bg-primary">
  <span>
    <a class="navbar-brand" href="/">Logo</a>
  </span>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link active" href="/admin/empresas">Empresas</a>
    </li>
  </ul>
</nav>